.parent{


display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-content: center;
position: relative;


}

.form1{
  border: 1px solid whitesmoke;
  padding: 10px;
  width: 260px;

}
.parent2{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content:center ;

}
.ch2{
  border-radius: 20px;
}
.login{
  display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 30px;
color: springgreen;
}

.inputs{
  
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  
}

.txt{
  
  display: flex;
flex-wrap: wrap;
justify-content: center;

}

.login3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inputs2{
  
  display: flex;
flex-wrap: wrap;
justify-content: center;

}
.labels{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 95px;
  margin-top: 30px;
  
}